{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Comprehension questions
{% endblock %}

{% block content %}
{{ block styles }}
<!-- Load the custom css styles -->
<link href="{{ static 'myStyle.css' }}" rel="stylesheet"/>


<style>
 .callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #f0ad4e;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}
@each $name,$color in (default,#777),(primary,#428bca),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;
    h4 {
      color: $color;
    }
  }
}
</style>

{{ endblock }}


<div class="card border-warning m-3">
    <div class="card-body">

{{ formfield  'q1PO' label="1. If your decision is <em><u>to take</u></em>, how much would you get as a payment in addition to your earnings in Part 1?" }}

{{ formfield  'q2PO' label="2. If your decision is <em><u>not to take</u></em>, how much would you get as a payment in addition to your earnings in Part 1?" }}

{{ formfield  'q3PO' label="3. Which of the following statements is <em><u>false</u></em>?" }}
    </div></div>

<br>
<p>
<i>Once you have answered all the questions correctly, you can continue.</i>
</p>

<p>
<div class="callout callout-primary">
Please note that the experiment does not contain any further comprehension
    questions or attention checks from this point on!</div>

{% next_button %}

{% endblock %}
